.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: royalblue;
}

.main-container {
  width: 100%;
  padding: 1.5rem;
  margin: 1.5rem;
}

.main-components {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: white;
}

h1 {
  color: white;
}

h2 {
  text-align: right;
  color: white;
}
